@import "tailwindcss";

@theme {
  --font-oswald: var(--font-oswald), sans-serif;
  --font-jetbrains: var(--font-jetbrains), monospace;
  --color-industrial-yellow: #ffc107;
}

@utility bg-grid-pattern {
  background-color: #f8f9fa;
  background-image:
    linear-gradient(#e9ecef 1px, transparent 1px),
    linear-gradient(90deg, #e9ecef 1px, transparent 1px);
  background-size: 20px 20px;
}
